nav{
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #E2E8F0;
}

.search{
  width: 45vw;
}

.login,.cart,.seller,.option,.logo{
  display: flex;
  justify-content: center;
  padding: 0 10px 0 10px;
  align-items: center;
  gap: 7px;
}

.login:hover,.cart:hover,.seller:hover,.option:hover{
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: #2B54E4;
  border-radius: 12px;
  color: white;
}

.hamburger {
    display: none;
}



/*For Mobile Phones*/

@media (max-width: 768px){
  .hamburger{
    display: block;
    padding-top: 10px;
    margin-left: 10px;
    z-index: 10;
  }
  .login,.cart,.seller,.option,.search{
    display: none;
  }
  .login-mob,.cart-mob,.seller-mob,.option-mob,.search-mob{
    display: flex;
    align-items: center;
    gap: 4px;
  }
}